<div class="deck deck-<%= deck.id %>" id="<%= dom_id deck %>">

  <div class="deck-information">
    <p class="a_header-card">
      <%= deck.title %>
    </p>
    <p class="a_header-description">
      <%= deck.description %>
    </p>
  </div>

  <div class="deck-manipulation">
    <div class="category">
      <p>общение</p>
    </div>

    <div class="a_button-solid">
      <%= link_to 'начать игру', {:action => 'new', :controller => 'rooms', :id => deck.id} %>
    </div>
  </div>
</div>
