<!DOCTYPE html>
<html>
  <head>
    <title>Knapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <div class="a_logo"></div>

        <div class="navbar a_text">
          <p class="link">
            <%= link_to 'колоды', {:action => 'index', :controller => 'decks'} %>
          </p>
          <p class="link">
            <%= link_to 'правила', {:action => 'new', :controller => 'rooms'} %>
          </p>
          <p class="link">
            <%= link_to 'о проекте', {:action => 'new', :controller => 'rooms'} %>
          </p>
        </div>

        <div class="a_button-inline">
            <%= link_to 'начать игру', {:action => 'new', :controller => 'rooms'} %>
        </div>
        </div>

        <%= yield %>

        <p class="text" style="text-align: center"> KNAPP @2022-2023</p>
    </div>

  </body>
</html>
